# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno y Claves (CRÍTICO)
.env
*.pem
*.key

# Archivos de Datos (Evitar subir CSVs pesados o sensibles)
data/
*.csv
*.json

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# SO files
.DS_Store
Thumbs.db